<include name="partial-head" src="./partials/head.html"></include>
<footer class="footer bg-yellow">
  <hr>
  <!-- ======= About Team Section ======= -->
  <div class="card--about space-y-1 md:flex justify top">
    <section id="about" class="sm:flex-1 bg-green-100 items-center mt-5 ">
      <div>
        <h2 class="text-md mt-6 font-semibold text-center sm:text-xl">About team</h2>
      </div>
      <div class="text-sm">
        <p class="ml-6 mt-5 mr-6">
          We are a group of friends who want to enjoy the environment by climbing mountains all over the world. 
          We meet on weekends and whenever time allows to train, climb or travel. 
          We hope that sharing the experiences lived throughout these years excites you as much as it excites the group.
        </p>
        <ul class="ml-11 mr-11 mt-3 list-disc">
          <li> Red Rock, Nevada, Estados Unidos</li>
          <li> Georges du Verdon, Francia</li>
          <li> Siurana, Spain</li>
        </ul>
      </div>
      <div class="flex justify-center mt-11 mb-8">
        <a name="link" class="text-center " href="https://www.twitter.com" aria-hidden="true"> <i class="fab fa-twitter fa-lg justify-between mx-8"></i></a>
        <a name="link" class="text-center " href="https://www.instagram.com" aria-hidden="true"><i class="fab fa-instagram fa-lg justify-between mx-8"></i></a>
        <a name="link" class="text-center" href="https://www.youtube.com" aria-hidden="true"><i class="fab fa-youtube fa-lg justify-between mx-8"></i></a>
      </div>
      <div class="grid gap-12 ml-12 mr-12 mb-12  md:grid-cols-2">
        <div class="items-center bg-white rounded-lg shadow p-7">
          <img class="w-96 rounded-full" src="./assets/images/Marti.jpg" alt="Marti Avatar">
          <div class="p-5">
            <h3 class="text-xl font-bold tracking-tight text-gray-900 ">
              Marti Pujol
            </h3>
            <span class="text-pink-400 ">Personal trainer</span>
            <p class="text-sm mt-3 mb-4 font-light">Marti is an adventurer with a lot of experience in the field of climbing.</p>
          </div>
        </div>
        <div class="items-center bg-white rounded-lg shadow p-7">
          <img class="w-96 rounded-full" src="./assets/images/Carla&Joan.jpg" alt="Carla and Joan Avatar">
          <div class="p-5">
            <h3 class="text-xl font-bold tracking-tight text-gray-900 ">
              Carla Ambros & Joan Ter
            </h3>
            <span class="text-pink-400 ">Teacher and computer programmer</span>
            <p class="text-sm mt-3 mb-4 font-light">Carla is an English teacher and Joan is a computer programmer, they have been a couple for more than ten years and are very consistent in the outings we do.</p>
          </div>
        </div>
        <div class="items-center bg-white rounded-lg shadow p-7">
          
          <img class="w-96 rounded-full" src="./assets/images/Miriam.jpg" alt="Sandra Avatar">
          <div class="p-5">
            <h3 class="text-xl font-bold tracking-tight text-gray-900 ">
              Miriam Soto
            </h3>
            <span class="text-pink-400 ">Student</span>
            <p class="text-sm mt-3 mb-4 font-light">The last one to join the group is a student at the climbing wall where we hold meetings and organize groups.</p>
          </div>
        </div>
        <div class="items-center bg-green-50 rounded-lg shadow sm:flex ">
          <img class="w-40 ml-11" src="./assets/images/limite[0].svg" alt="group logo avatar">
          <div class="p-5">
            <h3 class="text-xl font-bold tracking-tight text-gray-900 ">
              Logo group [0]Limit
            </h3>
            <span class="text-pink-400 ">Pec1 - HTML & CSS II</span>
            <p class="text-sm mt-3 mb-4 font-light ">Non-profit group for sports activities and adventure sports groups.</p>
            <span id="date" class="textmd text-green-600 " content="2023-11-03">November, 3 2023</span>
          </div>
        </div>
      </div>
    </section><!-- End about team section -->
  </div>
  <div class="bg-black flex justify-center text-white">
    <span id="atribution" class="description">
      <p class="text-sm">Atribution-NoComercial (CC BY-NC 4.0)</p>
    </span>
  </div>
</footer>