<!DOCTYPE html>
<html  lang="en">  
  
  <head>
    <meta charset="utf-8">
    <meta name="description" content="PEC1 Desenvolupament web II">
    <meta name="author" content="Anna Maria Monge Comas">
    <meta name="viewport" content="width=device-width">
    <meta name="keywords" content="dev, web, app">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="icon" href="./assets/images/limite[0].svg" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="./assets/styles/main.scss"><!-- do not remove this line! -->
    <link rel="stylesheet" type="text/css" href="./assets/styles/input.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.1.1/tailwind.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <title>UOC Boilerplate & pec1: HTML i CSS II</title>
   <script src="https://cdn.tailwindcss.com"></script>
  </head>