@config "./tailwind.site.config.js";

@tailwind base;
@tailwind components;

@layer base {
.card--about, .card--activities {
  background-color: white;
}
h4 {
  font-size: 1.2rem;
}
p.text.sm {
  color:grey;
  }
p {
  line-height: 1.4rem;
  margin-top: 1rem;
  }
.closing{
    font-family: 'Dancing Script', cursive;
  }
.nested {
  height: calc(100vh - theme(spacing.12));
  }
}

@layer components {
  .fab {
  color: black;
}
  .fab:hover, fa-o:hover {
    color: pink;
  }
}

@tailwind utilities;